[submodule "vendor/restler"]
	path = vendor/restler
	url = git://github.com/danwrong/restler.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "gh-pages"]
	path = gh-pages
	url = git://github.com/ncr/flickr_spy.git
[submodule "vendor/ws"]
	path = vendor/ws
	url = git://github.com/ncr/node.ws.js.git
