[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "gh-pages"]
	path = gh-pages
	url = git://github.com/ncr/flickr_spy.git
[submodule "vendor/ws"]
	path = vendor/ws
	url = git://github.com/ncr/node.ws.js.git
[submodule "vendor/flickr"]
	path = vendor/flickr
	url = git://github.com/ciaranj/flickrnode.git
