<!DOCTYPE html>
<html>
  <head>
    <title>Flickr Spy - Discover where your flickr friends are commenting</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css"> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/base/base-min.css"> 
    <style type="text/css">
      h1 { color: #0063DC; }
      h1 strong { color:  #FF0084; }
      h2, h3 { color: #FF0084; font-weight: normal; }
      a { color: #0063DC; }
      a:hover { color: #fff; background-color: #0063DC; }
      em { color: #999;}
      li { list-style: none !important;} /* yui */
    </style>
  </head>
  <body>
    <div id="doc" class="yui-t4">
      <div id="hd" role="banner">
        <h1><strong>Flickr Spy</strong> Discover where your flickr friends are commenting</h1>
      </div>
      <div id="bd" role="main">
        <div id="yui-main">
          <div class="yui-b">
            <div role="main" class="yui-g">
              {{ content }}
            </div>
          </div>
        </div>
        <div role="complementary" class="yui-b">
          <h3>Flickr Spy</h3>
          <ul>
            <li><a href="http://github.com/ncr/flickr_spy">Source on GitHub</a></li>
          </ul>
          <h3>Me</h3>
          <ul>
            <li><a href="http://flic.kr/ncr">Photostream</a></li>
            <li><a href="http://twitter.com/jacek_becela">Twitter</a></li>
          </ul>
        </div>
      </div>
      <div id="ft" role="contentinfo">
        <!-- footer -->
      </div>
    </div>
  </body>
</html>
